@use '../../index';
.page-title {
  font-family: var(--font-family-secondary);
  display: flex;
  align-items: center;
  padding-inline-start: 6rem;
  margin-top: 3rem;
  color: var(--color-main);

  &__text {
    font-size: 2rem;
  }
  &__icon {
    @extend %JC;
    margin: 0 3rem;
    svg {
      font-size: 2.5rem;
    }
  }
}
