@use '../../index';
.section__category {
  font-family: var(--font-family-secondary);
  &-head {
    @extend %JSB;
    margin-bottom: 3rem;
    &--btn {
      @extend %JC;
      color: #fff;
      background-color: var(--color-main-darker);
      width: 10rem;
      height: 4.4rem;
      box-shadow: var(--product-img-shadow);
      border-radius: 1.5rem;
      font-size: 1.6rem;
      cursor: pointer;
      transition: all 0.25s;
      &:hover {
        color: var(--color-white);
        transform: scale(1.07);
        box-shadow: var(--btn-shadow-hover);
      }
      &:active {
        color: var(--color-white);
        transform: scale(0.97);
        box-shadow: var(--btn-shadow-active);
      }
    }
    &--title {
      color: var(--color-main-darker);
      font-size: 2.4rem;
    }
  }
}
.products-wrapper {
  display: grid;
  column-gap: 1.5rem;
  row-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  // justify-content: center;
  // align-content: center;
  // align-items: center;
  // height: 100%;
  // width: 100%;
}
