@use '../index';

.category {
  &__content {
    margin-block: 3rem;
  }
}
.switch {
  &-btns {
    @extend %JC;
    width: fit-content;
    margin-inline-start: auto;
    margin-inline-end: 8rem;
    margin-bottom: 3rem;
  }
  &-btn {
    cursor: pointer;
    &:first-child {
      margin-inline-end: 3rem;
    }
  }
}
