@use '../index';
.contact {
  color: var(--color-main);
  padding: 5rem 0 7rem;
  // font-family: ;

  &__container {
    @extend %JSB;
    margin-top: 5rem;
    padding: 0 9rem;
  }
  &__msg {
    border: var(--border-text-container);
    border-radius: 2rem;
    padding: 3rem 2.2rem;
    width: 68%;

    &-title {
      @extend %form-title;
    }
    &-input {
      padding: 0 6rem;
    }
  }
  &__info {
    border: var(--border-text-container);
    border-radius: 2rem;
    width: 30%;
    height: 100%;
    padding: 2.5rem 2rem;
    &-title {
      font-size: 2.4rem;
      margin-bottom: 2rem;
    }
    &-head {
      padding: 0 1rem;
      font-size: 1.7rem;
    }
    &-main {
      @extend %AC;
      padding: 0 2rem;
      color: var(--color-black);
      font-size: 1.7rem;
      margin-bottom: 1rem;
      &--icon {
        @extend %JC;
        color: var(--color-main);
        font-size: 1.8rem;
      }
      &--title {
        color: var(--color-main);
        margin: 0 1rem 0 2rem;
      }
    }
  }
}
