@use '../index';
.verification {
  color: var(--color-main);
  &__title {
  }
  &__container {
    margin-inline: 10rem;
    display: flex;
    justify-content: space-between;
  }
  &__form {
    @extend %form-container;
    padding-block: 3rem;
    width: 68%;
    &-title {
      @extend %form-title;
    }
    &-input {
      margin-inline: 4rem;
    }
  }
  &__info {
    @extend %form-container;
    width: 29.5%;
    padding-block: 3rem;
    &-title {
      @extend %form-title;
      margin-bottom: 3rem;
      // font-size: 1.7rem;
    }
    &-container {
      padding-inline-start: 2.5rem;
    }
    &-products {
      &--title {
        font-size: 1.9rem;
        margin-bottom: 2rem;
      }
      &--wrapper {
        overflow-y: scroll;
        max-height: 25rem;
        .product {
          @extend %JSB;
          align-items: flex-start;
          :not(:last-child) {
            margin-bottom: 2rem;
          }
          &-desc {
            width: 68%;
            font-size: 1.4rem;
            color: #444;
          }
          &-price {
            width: 30%;
            font-size: 1.7rem;
          }
        }
      }
      .total {
        @extend %JSB;
        margin-top: 3rem;
        &-title {
          @extend %form-title;
          margin-bottom: 0;
        }
        &-price {
          font-size: 1.7rem;
          margin-inline-end: 3rem;
        }
      }
    }
  }
  &__title {
  }
  &__title {
  }

  .payment {
    margin-top: 4rem;
    &-title {
      @extend %form-title;
      margin-bottom: 3rem;
    }
    &-options {
      padding-inline-start: 3rem;
    }
    &-option {
      label {
        @extend %AC;
        font-size: 1.5rem;
      }
      input {
        margin-inline-end: 2rem;
      }
      &:not(:last-child) {
        margin-bottom: 1.5rem;
      }
    }
  }
  .form-btns {
    width: auto;
    margin-top: 5rem;
  }
}
