@use '../../index';
.footer {
  font-family: var(--font-family-primary);
  background-color: var(--color-main);
  &__main {
    &-wrapper {
      @extend %JSB;
    }
  }
  &__links {
    &-title {
      color: var(--color-main-lightest);
      margin-bottom: 1rem;
      font-size: 2rem;
    }
    &-wrapper {
      margin-left: 1.5rem;
    }
  }
  &__link {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--color-white);
  }
  &__logo {
    // width: 74rem;
    height: 9rem;
    img {
      @extend %img-fill;
    }
  }

  &__social {
    @extend %JSB;

    &-link {
      svg {
        width: 4rem;
        height: 4rem;
        padding: 0;
      }
      &:not(:last-child) {
        margin-right: 4rem;
      }
    }
  }
  &__contact {
    font-size: 1.6rem;
    @extend %FLEX-COL-ALIGN-C;
    color: var(--color-main-lightest);
    a {
      transition: transform 0.2s;
    }
    a:hover {
      color: var(--color-main-lightest);
      transform: translateY(-3px);
    }
  }

  &__copyright {
    height: 4rem;
    font-size: 1.6rem;
    background-color: var(--color-main-darker);
    color: var(--color-white);
    @extend %JC;

    span {
      margin-left: -5.5rem;
    }
  }
}
