@use '../../index';
.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100vw;
  font-family: var(--font-family-primary);
  background-color: var(--color-main);
  &__main {
    margin-inline: 15rem;
    @media (max-width: 990px) {
      margin-inline: 7rem;
    }
    @media (max-width: 765px) {
      margin-inline: 4rem;
    }
    @media (max-width: 567px) {
      margin-inline: 1rem;
    }
    &-wrapper {
      @extend %JSB;
    }
  }
  &__links {
    &-title {
      color: var(--color-main-lightest);
      margin-bottom: 1rem;
      font-size: 2rem;
      @media (max-width: 765px) {
        font-size: 1.7rem;
      }
      @media (max-width: 567px) {
        font-size: 1.5rem;
      }
    }
    &-wrapper {
      margin-left: 1.5rem;
      margin-bottom: 0;
      padding-left: 0;
      @media (max-width: 765px) {
      }
      @media (max-width: 567px) {
        margin-left: 0.5rem;
      }
    }
  }
  &__link {
    margin-bottom: 1rem;
    font-size: 1.6rem;
    cursor: pointer;
    color: var(--color-white);
    @media (max-width: 765px) {
      font-size: 1.5rem;
    }
    @media (max-width: 567px) {
      font-size: 1.3rem;
    }
  }
  &__logo {
    // width: 74rem;
    height: 9rem;
    @media (max-width: 765px) {
      height: 7rem;
    }
    @media (max-width: 567px) {
      height: 5rem;
    }
    img {
      @extend %img-fill;
    }
  }

  &__social {
    @extend %JSB;

    &-link {
      svg {
        width: 4rem;
        height: 4rem;
        padding: 0;
        @media (max-width: 765px) {
          height: 3.2rem;
          width: 3.2rem;
        }
        @media (max-width: 567px) {
          width: 2.5rem;
          height: 2.5rem;
        }
      }
      &:not(:last-child) {
        margin-right: 4rem;

        @media (max-width: 567px) {
          margin-right: 2rem;
        }
      }
    }
  }
  &__contact {
    font-size: 1.6rem;
    @extend %FLEX-COL-ALIGN-C;
    color: var(--color-main-lightest);
    @media (max-width: 765px) {
      font-size: 1.4rem;
    }
    @media (max-width: 567px) {
      font-size: 1.2rem;
    }
    a {
      transition: transform 0.2s;
    }
    a:hover {
      color: var(--color-main-lightest);
      transform: translateY(-3px);
    }
  }

  &__copyright {
    height: 4rem;
    font-size: 1.6rem;
    background-color: var(--color-main-darker);
    color: var(--color-white);
    @extend %JC;
    @media (max-width: 765px) {
      font-size: 1.4rem;
    }
    @media (max-width: 567px) {
      font-size: 1.2rem;
    }
    span {
      margin-left: -5.5rem;
    }
  }
}
