@import url('https://fonts.googleapis.com/css2?family=Courgette&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap');
:root {
  --color-main: #3a204d;
  --color-main-lightest: #f090d8;
  --color-main-lighter: #614873;
  --color-main-darker: #2f1544;
  --color-white: #fff;
  --color-black: #000;
  --color-shadow-main: rgba(0, 0, 0, 0.25);
  --color-like: #a70d15;
  --color-btn-form-text: #fdd7f3;

  --color-row-even: var(--color-main-lighter);
  --color-row-odd: var(--color-main);
  --color-review-img-even: var(--color-main-lighter);
  --color-review-img-odd: var(--color-main);
  --product-img-shadow: 0px 4px 4px var(--color-shadow-main);
  --btn-shadow-hover: 0px 6px 6px rgba(0, 0, 0, 0.19);
  --btn-shadow-active: 0px 3px 3px rgba(0, 0, 0, 0.325);
  --card-shadow: 2px 4px 4px rgba(0, 0, 0, 0.2);
  --searchBar-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);

  --shadow-card-sm-img: inset 0px 2px 2px var(--color-shadow-main),
    0px 2px 2px var(--color-shadow-main);
  --shadow-card-sm-size-btn: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0px 2px 2px rgba(253, 215, 243, 0.47);
  --shadow-btn-form: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0px 2px 2px rgba(0, 0, 0, 0.25);
  --shadow-badge-related: inset var(--product-img-shadow);
  --shadow-card-related: 0 1px 1px var(--color-shadow-main);

  --shadow-btn-actions: 0px 4px 4px rgba(0, 0, 0, 0.25),
    inset 0px 2px 2px rgba(0, 0, 0, 0.81);

  --shadow-wishlist-card: 0px 2px 2px rgba(0, 0, 0, 0.25),
    inset 0px 4px 4px rgba(0, 0, 0, 0.25);

  --font-family-primary: 'Courgette', sans-serif;
  --font-family-secondary: 'Berkshire Swash', sans-serif;

  --border-card-sm: 1px solid rgba(0, 0, 0, 0.37);
  --border-card-sm-img: 1px solid var(--color-main-darker);
  --border-card-lg-img: 2px solid var(--color-main-darker);
  --border-card-related: 1px solid rgba(0, 0, 0, 0.12);
  --border-text-container: 3px solid var(--color-main);
  --border-text-container: 3px solid var(--color-main);
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  box-sizing: border-box;
  scroll-behavior: smooth;

  @media only screen and (max-width: 1540px) {
    font-size: 55%;
  }
  @media only screen and (max-width: 1200px) {
    font-size: 50%;
  }
}

body {
  background-color: var(--color-body-bg);
  color: var(--color-white);
  font-size: 1.6rem;
  font-family: var(--font-family-primary);
  margin-bottom: -1rem;
}

/* .container {
  @media (min-width: 1500px) {
    max-width: 1440px;
  }
  @media (max-width: 1200px) {
    width: 1170px;
  }
  @media (max-width: 992px) {
    width: 970px;
  }
  @media (max-width: 768px) {
    width: 750px;
  }
  @media (max-width: 576px) {
    width: auto;
  }
} */

button,
button:focus {
  border: none;
  outline: none;
}
button {
  background-color: transparent;
  cursor: pointer;
}
ul {
  list-style: none;
}
h1,
h2,
h3,
h4,
ul {
  margin: 0;
  padding: 0;
}

a,
a:link,
a:visited {
  color: inherit;
  text-decoration: none;
}

%JSB {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
%AC {
  display: flex;
  align-items: center;
}
%JC {
  display: flex;
  align-items: center;
  justify-content: center;
}
%FLEX-COL-ALIGN-C {
  display: flex;
  flex-direction: column;
  align-items: center;
}
%FLEX-COL-ALIGN-SB {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
%FLEX-COL-SB {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
}
%FLEX-COL-C {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
%prod-img-container {
  border: 3px solid var(--color-main-darker);
  box-shadow: var(--product-img-shadow);
  border-radius: 2rem;
  overflow: hidden;
}
%img-fill {
  width: 100%;
  height: 100%;
  object-fit: fill;
}
