@use '../../index';
.form {
  &__container {
    width: 60rem;
    border: var(--border-text-container);
    border-radius: 1rem;
    margin: auto;
    padding: 3rem 1.5rem;
    margin-block: 5rem;
    font-family: var(--font-family-secondary);
    color: var(--color-main);
  }
  &__title {
    margin-bottom: 4rem;
  }
  &__input {
    &-container {
      padding-inline: 5rem;
    }
    &-label {
      margin-inline-start: 3rem;
      margin-bottom: 1rem;
      font-size: 1.8rem;
    }
  }
  &-hint {
    font-size: 1.6rem;
    line-height: 18px;
  }

  &-profile {
    z-index: 1;
    position: relative;
    border: var(--border-text-container);
    border-radius: 1rem;
    padding: 8rem 4rem 2rem;
    &:not(:last-child) {
      margin-bottom: 4rem;
    }
    &__title {
      @extend %JC;
      position: absolute;
      top: -3px;
      left: -3px;
      height: 6rem;
      width: 28rem;
      border-radius: 1rem 0;
      font-size: 1.7rem;
      background-color: var(--color-main-lighter);
      color: var(--color-btn-form-text);
      box-shadow: var(--shadow-wishlist-card);
      z-index: 9;
    }
  }
}
